@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

* {
  font-family: 'Lexend Mega', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background: #f0f0f0;
}

.img-container {
  max-height: 300px;
}

#test {
  transition: all ease-in-out 1s;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#test {
  background-color: black;
}


